.item_navbar ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.item_navbar ul li {
  border-radius: 15px;
  padding: 10px 30px;
  border: 3px solid #fed404;
}
.item_menu ul {
  overflow-x: auto;
  display: flex;
  list-style: none;
  justify-content: space-around;
}
.item_menu ul::-webkit-scrollbar {
  display: none;
}
.item_menu li {
  padding: 10px;
}
.item_details {
  margin-top: 10px;
  margin-left: 35px;
  width: 80%;
  padding: 10px;
  border-radius: 15px;
  border: 3px solid #fed404;
  align-items: center;
  /* justify-content: center; */
  display: flex;
}
.item_name {
  flex-basis: 70%;
}
.item_price {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dollar {
  font-size: 30px;
}
.food_category {
  display: flex;
  overflow-y: auto;
  width: 90%;
  justify-content: space-evenly;
  margin: 0px auto;
}
.food_category::-webkit-scrollbar {
  display: none;
}
.food_category ul {
  display: flex;
  list-style: none;
}
.food_category ul li {
  margin: 5px;
}
.food_category button {
  background: white;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid #fed404;
}
.food_category button:hover {
  background-color: #fed404;
}
.subCategory button {
  border: none;
  padding: 5px;
  font-weight: 600;
  background: white;
}
.subCategory {
  margin-top: 5px;
  display: flex;
  justify-content: flex-start;
}
.item_footer {
  padding: 15px;
  background-color: #fed404;
  bottom: 0px;
  width: 92.5%;
  position: absolute;
  text-align: center;
}

.halfPint {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 5px auto;
  border: 3px solid #fed404;
  padding: 5px;
  border-radius: 15px;
}
.checkBox {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  width: 80%;
  margin: 5px auto;
}
.checkBox input[type="checkbox"] {
  /* border: none; */
  outline-color: 2px solid #fed404;
}
.halfPint:hover {
  background-color: #fed404;
}
.item_count{
  align-items: center;
  justify-content: center;
  display: flex;
}
.item_count input{
  width: 20px;
  background-color: white;
  border: 2px solid #fed404;
  padding: 5px 10px;
  border-radius: 8px;
}
.item_count button{
  margin: 10px 5px 10px 5px;
  padding: 5px 15px;
  background-color: white;
  border: 2px solid #fed404;
  border-radius: 8px;
}
.item_count button:hover{
  background-color: #fed404;
}
.addOrder{
  background-color: white;
  justify-content: center;
  display: flex;
}
.addOrder button{
  border-radius: 15px;
  border: 3px solid #fed404;
  background-color: #fed404;
padding: 10px 55px;
font-weight: 600;
}
.orderRemember {
  box-shadow: 0px 0px 15px #000;
  position: absolute;
  bottom: 0px;
  z-index: 100;
  border-radius: 20px 20px 0px 0px;
  border: 1px solid black;
  padding: 10px;
  width: 94%;
  background-color: white;
}
.order_close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.toggle .orderRemember .variants{
  /* border: 1px solid black ; */
  padding: 5px;
}
.variants:after{
  content: "";
  width: 100%;
  height: 3px;
  display: block;
  background-color: #f3f3f3;
}
.inner-content{
  display: flex;
  justify-content: space-between;
  width: 90%;
  border-radius: 15px;
  padding: 10px;
  margin: 5px 5px 15px;
  border: 2px solid #fed404;
}
.orderName{
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.orderName button{
  padding: 5px;
  border: 2px solid #fed404;
  background-color: white;
  border-radius: 5px;
}
.underline{
  margin: 5px;
  content: "";
  width: 100%;
  height: 3px;
  display: block;
  background-color: #f3f3f3;
}
.inner-content:hover{
  background-color: #fed404;
}
.orderRemember .extra_item #extras{
  display: flex ;
  margin: 0px 5px 5px 10px;
  flex-direction: row;
  padding: 5px;
  justify-content: space-between ;
  width: 90%;
}
.extra_item:after{
  content: "";
  width: 100%;
  height: 5px;
  display: block;
  background-color: #f3f3f3;
}
.checkbox-div input{
  width: 15px;
  background-color: #fed404;
  border: 2px solid #fed404;
}


@media only screen and (max-width: 600px) {
  .item_footer {
    position: absolute;
    bottom: 0px;
    width: 92%;
  }
  .item_menu li {
    padding: 10px;
  }
}
