.checkout_header{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.check_item{
    padding: 10px;
    display: flex;
    width: 90%;
    justify-content: space-between;
}
.check_item h3{
    margin-left: 10px;
}
.check_note{
    margin: 0px 50px;
}
.check_note label{
    display: block !important;
    width: 100%;
}
.check_note textarea{
    width: 266px;
    justify-content: flex-start;
    height: 175px;
    border-radius: 15px;
    border: 3px solid #fed404;
}
.check_note textarea:focus{
    border-radius: 15px;
    border: 3px solid #fed404;
}
.order_number{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 15px 18px 0px 0px;
}
.check_details::after{
    margin: 10px auto;
    content: "";
    width: 90%;
    height: 5px;
    background-color: #f3f3f3;
    display: block;
}

.check_title{
        margin-left: 15px;
}
.token_number{
    border-radius: 15px;
    padding: 10px;
    border: 2px solid #fed404;
}

.confirm_order{
    width: 70%;
    text-align: justify;
    margin: 0px auto;
    padding: 10px;
    border-radius: 15px;
    background-color: white;
    border: 3px solid #fed404;
}
.confirm_order button:hover{
    background: #fed404;
}
.place_order,.cancel_order{
    margin: 5px;
    padding: 10px;
    background-color: white;
    border-radius: 15px;
    border: 3px solid #fed404;
}
.confirm_order{
    position: absolute;
    top: 30%;
    left: 25px;
    width: 80%;
    box-shadow: 0px 0px 15px #000;
    border-radius: 15px;
}
.order_button{
    margin: 10px 20px 10px 50px;
}

.comfirm_thumb{
    text-align: center;
    font-size: 30px;
}
.thumb{
    text-align: center;
}
.order_underline{
    margin: 10px auto;
    content: "";
    width: 90%;
    height: 4px;
    display: block;
    background-color: #f3f3f3;
  }