
*{
    margin: 0;padding: 0;
}
body{ 
    background-color: #fbd92eae;
    /* font-family: ; */
    font-family: 'Poppins', sans-serif;
}
.app_container{
    background-color:white ;
    margin: 50px auto;
    border: 1px solid black;
    width: 25%;
    min-height: 80vh;
    border: none;
    position: relative;
}

@media only screen and (max-width: 600px) {
    .app_container {
        width: 100%;
        margin: 0;
        height: 100vh !important;
    }
  }

  @media only screen and (max-width: 768px) {
    .app_container {
        width: 100%;
        margin: 0;
        height: 100%;
    }
  }
